<ion-view view-title="Administración">
  <ion-content class="padding">
    <center><h3><img src="img/mdplogo.gif" height="85"></h3></center>
    <br> <br> <br>
   
    <form name="signinForm" novalidate="" ng-submit="submit()">     
        
        <div class="list">

            <label class="item item-input" ng-class="{ 'has-error-lr' : signinForm.username.$invalid && signinForm.$submitted, 'valid-lr' : signinForm.username.$valid  && signinForm.$submitted}">
                <span class="input-label">Usuario</span>
                <input type="text" ng-model="data.user" name="username" required minlength="5" maxlength="20" ng-pattern="/^[a-zA-Z0-9\.]*$/">
            </label>
            
            <div class="form-error" ng-show="signinForm.username.$error.pattern">Usuario Invalido</div>
            <div class="form-error" ng-show="signinForm.username.$error.required">* Campo requerido</div>
            
            <label class="item item-input" ng-class="{ 'has-error-lr' : signinForm.password.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.password.$valid  && signinForm.$submitted}">
                <span class="input-label">Password</span>
                <input type="password" ng-model="data.pass" name="password" required minlength="5" maxlength="20" ng-pattern="/^[a-zA-Z0-9\.]*$/">
            </label>
            <div class="form-error" ng-show="signinForm.password.$error.pattern">Password Invalido</div>
            <div class="form-error" ng-show="signinForm.username.$error.required">* Campo requerido</div>

            <br>
            
            <button type="submit" ng-disabled="signinForm.$invalid" class="button button-block button-balanced icon-left ion-arrow-right-b">
               Ingresar 
            </button>
            <button class="button button-block button-balanced icon-left ion-android-cancel" ng-click="cancelar()">
               Cancelar
            </button>
        </div>
    </form>    
  </ion-content>
</ion-view>
