
<ion-view view-title="Administración Montes del Plata">
  <ion-content class="padding">
    <center><h3><img src="img/mdplogo.gif" height="85"></h3></center>
    <br> <br> <br>

    <form name="signinForm" novalidate="">
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-error-lr' : signinForm.url.$invalid && signinForm.$submitted, 'valid-lr' : signinForm.url.$valid  && signinForm.$submitted}">
                    <span class="input-label">Url</span>
                    <input type="text" name="url" ng-model="data.url" required ng-pattern="/^(http|https)\:\/\/[a-z0-9\.-]+\.[a-z]{2,4}/">
                </label>
                <div class="form-error" ng-show="signinForm.url.$error.pattern">URL inválida</div>
                <div class="form-error" ng-show="signinForm.url.$error.required">* Campo requerido</div>
                
                <label class="item item-input"  ng-class="{ 'has-error-lr' : signinForm.patente.$invalid  && signinForm.$submitted, 'valid-lr' : signinForm.patente.$valid  && signinForm.$submitted}">
                    <span class="input-label">Patente</span>
                    <input type="text" name="patente" ng-model="data.patente" required minlength="5" maxlength="20" ng-pattern="/^[A-Z]{3}\d{4}$/">
                </label>
                <!-- comprobar solo alfanumericos sin espacios y que no esté vacío -->
                <div class="form-error" ng-show="signinForm.patente.$error.pattern">Use 4 mayúsculas (A-Z) y tres números (0-9) - No use símbolos</div>
                <div class="form-error" ng-show="signinForm.patente.$error.required">* Campo requerido</div>
                <div class="form-error" ng-show="signinForm.patente.$error.minlength">Debe tener 7 caracteres</div>
                <div class="form-error" ng-show="signinForm.patente.$error.maxlength">Debe tener 7 caracteres</div>
                <br>
                <center>
                    <button class="button button-block button-balanced icon-left ion-android-download" ng-disabled="signinForm.$invalid" ng-click="registrar()">
                    Guardar
                    </button> <button class="button button-block button-balanced icon-left ion-compose" ng-disabled="signinForm.$invalid" ng-click="editar()">
                    Editar
                    </button>
                    <button class="button button-block button-balanced icon-left ion-android-cancel" ng-click="cancelar()">
                    Cancelar
                    </button>
                </center>   
            </div>
    </form>        
  </ion-content>
</ion-view>
