<style>
.estilotextarea {border: 2px solid #990000;}
</style>
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{ot.id}}">
  <ion-content class="padding">

    <div class="list card">

  <div class="item item-avatar">
    <img src="img/OT.png">
    <h2><b>O.T.: </b> {{ot.id}}</h2>
    
  </div>

  <div class="item item-body">
    
    <p>
      <b>Destino:</b> {{ot.hasta}}
      <br>
      <b>Monte:</b> {{ot.monte}} 
      <br>
      <b>Grúa:</b> {{ot.grua}}
      <br>
      <b>Horario de Carga:</b> {{ot.hac}} 
      <br>
     <b> Horario de Descarga:</b> {{ot.had}}
    </p>
    <button class="button button-balanced" ng-click="aceptar()">
        Aceptar
    </button> 
    <button class="button button-balanced" ng-click="rechazarComment = true">
        Rechazar
    </button>
    <br><br>
    <div ng-if="rechazarComment" ng-init="false">
      <textarea class="estilotextarea" ng-model="data.rechazarTextArea" ></textarea>
      <br>
      <button class="button button-balanced" ng-click="enviarRechazo()">Enviar</button>
    </div>    
  </div>

</div>

  </ion-content>
</ion-view>
