<script id="templates/form-errors.html" type="text/ng-template">  
  <div class="form-error" ng-message="required">Este campo es requerido.</div>
  <div class="form-error" ng-message="minlength">Debe tener al menos 5 caracteres.</div>
  <div class="form-error" ng-message="maxlength">Debe tener menos de 20 caracteres.</div>
</script>