<style>
    .container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: #D1D1D1;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 20px;

}

.form-control {
    border-radius: 10px;
}

</style>
<ion-header-bar>
  <div class="bar bar-header">
      <button class="button" ng-click="mensajesView()"><b>Mensajes</b> <span class="badge badge-assertive"><b>{{msg.msj}}</b></span></button>

      <button class="button" ng-click="mensajesView()"><b>Orden Trabajo </b><span class="badge badge-assertive"><b>{{ot.ot}}</b></span></button>
  </div>
</ion-header-bar>

<ion-view title="EasyMail">
  <ion-content class="padding">
  <br><br><br>
<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row">
  <div class="col"> </div>
    <div class="col col-50">
            <div class="form-login">
                <!--<h3><center>Usuarios</center></h3>-->
                <center><img src="img/mdplogo.gif"></center>
                <br>
                    <input type="text" ng-model="data.user" placeholder="Usuario" class="form-control" required>
                    <br>
                    <input type="{{inputype}}" ng-model="data.pass" placeholder="Password" class="form-control" required>
                    <br>
                    <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" />
                    <label for="checkbox" ng-if="passwordCheckbox">Esconder contraseña</label>
                    <label for="checkbox" ng-if="!passwordCheckbox">Mostrar contraseña</label>
                    <center><button class="button button-large button-balanced" ng-click="procesarLogin()">Login &nbsp;<i class="icon ion-log-in"></i></button></center>
                    <br><center><div id="respuesta" style="color:red"><b ng-bind="responseUser"></b></div></center>
           </div>
       </div>
      <div class="col">
    </div>
  </ion-content>
</ion-view>
