<ion-header-bar>
  <div class="bar bar-header">
      <button class="button" ng-click="mensajesView()"><b>Mensajes</b> <span class="badge badge-assertive"><b>{{msg.msj}}</b></span></button>

      <button class="button" ng-click="mensajesView()"><b>Orden Trabajo </b><span class="badge badge-assertive"><b>{{ot.ot}}</b></span></button>
  </div>
</ion-header-bar>

<ion-view view-title="Logout">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Desconectarse
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
