<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

<!-- Principal Tab -->
  <ion-tab title="Menú Principal" icon-off="ion-android-menu" icon-on="ion-android-menu" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
<!-- Login Tab -->
  <ion-tab title="Login" icon-off="ion-person" icon-on="ion-person" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

<!-- Mensajes Tab -->
  <ion-tab title="Mensajes" icon-off="ion-email" icon-on="ion-email" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
<!-- Salir Tab 
  <ion-tab title="Salir" icon-off="ion-power" icon-on="ion-power" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>-->
<!-- Admin tab -->
<ion-tab title="Administración" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/admin/adminlogin">
  <ion-nav-view name="admin-login"></ion-nav-view>
</ion-tab>
</ion-tabs>